@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.top-bar {
  background: #310b3d;
  height: 2.8rem;
  padding: 0.5rem 0;
  font-family: 'Open Sans';
}

.top-bar p {
  color: #ffffff;
  font-size: 1.1rem;
  font-family: 'Raleway';
}

.navbar {
  background-color: #ffffff;
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
  z-index: 1;
  font-family: 'Raleway';
}

.nav-item {
  padding: 0.5rem;
}

.nav-link {
  color: #763857 !important;
}

.nav-link.active,
.nav-link:hover {
  color: purple !important;
}

.main-info {
  background: url('../src/Images/Oils.jpg') no-repeat center center/cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 40rem;
  text-align: left;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
  font-family: 'Raleway';
}

.main-text {
  font-size: 5.5rem;
}

.second-text {
  font-size: 2rem;
}

.infopictures {
  font-family: 'Raleway';
}

.footer {
  background: #310b3d;
  padding: 1rem 2rem 3rem;
  font-family: 'Raleway';
}

.footer-info {
  padding: 1rem;
}

ul.social {
  list-style-type: none;
  display: flex;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0;
}

ul.social li {
  margin: 0 auto;
  font-size: 2.3rem;
}

ul.social li:hover {
  color: purple;
}

@media (max-width: 500px) {
  .top-bar p {
    font-size: 0.7rem;
  }
  .main-info {
    background-attachment: scroll !important;
  }

  .main-text {
    font-size: 3rem;
  }

  .second-text {
    font-size: 1rem;
  }
}
